@{
    ViewBag.Title = "Designation Master";
}

<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-header">
                <h4 class="card-title">Designation Master</h4>

                <a data-bs-toggle="modal"
                   data-bs-target="#addModal"
                   class="btn btn-primary btn-sm">
                    Add Designation
                </a>
            </div>

            <div class="table-responsive">

                <table id="designationList"
                       class="display table-hover table-striped w-100">

                    <thead class="table-primary">
                        <tr>
                            <th>Designation</th>
                            <th style="width:2%">Action</th>
                        </tr>
                    </thead>

                    <tbody id="tblBody">
                    </tbody>

                </table>

            </div>

        </div>
    </div>
</div>



<!-- ADD / EDIT MODAL -->

<div class="modal fade"
     id="addModal"
     tabindex="-1">

    <div class="modal-dialog modal-lg modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">

                <h4 class="modal-title">Designation Master</h4>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                </button>

            </div>


            <div class="modal-body">

                <form id="entryForm">

                    <input type="hidden" id="IDDesignation" value="0" />

                    <div class="row g-3">

                        <div class="col-md-12">
                            <label class="form-label">Designation</label>

                            <input type="text"
                                   class="form-control"
                                   id="Designetion"
                                   placeholder="Enter Designation">
                        </div>

                    </div>

                </form>

            </div>


            <div class="modal-footer">

                <button class="btn btn-light"
                        data-bs-dismiss="modal">
                    Cancel
                </button>

                <button class="btn btn-primary"
                        id="btnSave">
                    Save
                </button>

            </div>

        </div>
    </div>
</div>


@section Scripts {
    <script src="~/AirmaxPayRollJS/Master/designation.js" asp-append-version="true"></script>
}