@{
    ViewBag.Title = "Employee List";
}

<div class="card">
    <div class="card-header">
        <h4>Employee List</h4>

        <!-- ✅ CHANGE BUTTON -->
        <a href="/Master/EmployeeEntry" class="btn btn-primary btn-sm btn-add">
            Add Employee
        </a>
    </div>

    <div class="table-responsive">
        <table id="employeeList" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Email</th>
                    <th>Company</th>
                    <th>Salary</th>
                    <th style="width:2%">Action</th>
                </tr>
            </thead>

            <tbody id="tblBody"></tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/AirmaxPayRollJS/Master/employee_list.js"></script>
}