@{
    ViewBag.Title = "Employee Kharchi Bulk Entry";
}

<input type="hidden" id="txtID" value="0" />

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h4 class="card-title">@ViewBag.Title</h4>
        <a href="/Transaction/EmployeeKharchiList" class="btn btn-dark btn-sm">
            <i class="fa fa-arrow-left me-1"></i> Back to List
        </a>
    </div>
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-md-2">
                <label class="form-label">Voucher No</label>
                <input type="text" id="txtKharchiNo" class="form-control" readonly />
            </div>
            <div class="col-md-3">
                <label class="form-label">Kharchi Month</label>
                <input type="month" id="txtKharchiDate" class="form-control" onchange="checkAutoLoad()" />
            </div>
            <div class="col-md-4">
                <label class="form-label">Department</label>
                <select id="ddlDepartment" class="form-control select2" onchange="checkAutoLoad()"></select>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="bg-primary text-white">
                    <tr>
                        <th style="width:50px">#</th>
                        <th>Emp Code</th>
                        <th>Employee Name</th>
                        <th style="width:180px">Amount (₹)</th>
                        <th style="display:flex;justify-content:start;">Remarks </th>
                    </tr>
                </thead>
                <tbody id="tblBody">
                    <tr><td colspan="5" class="text-center">Select a department to load employees</td></tr>
                </tbody>
                <tfoot>
                    <tr class="table-light fs-16">
                        <td colspan="3" class="text-end">Monthly Total Expense:</td>
                        <td id="lblTotalAmount" class="text-end">₹ 0.00</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="text-end mt-4">
            <button type="button" id="btnSave" onclick="saveData()" class="btn btn-success px-5">
                <i class="fa fa-save me-1"></i> Save Kharchi
            </button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/AirmaxPayRollJS/Transaction/employee_kharchi_entry.js" asp-append-version="true"></script>
}
