@{
    ViewBag.Title = "Employee Kharchi Master List";
}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h4 class="card-title">@ViewBag.Title</h4>
        <a href="/Transaction/EmployeeKharchiEntry" class="btn btn-primary btn-sm">
            <i class="fa fa-plus-circle me-1"></i> Add Bulk Kharchi
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="kharchiList" class="table table-hover w-100">
                <thead class="table-primary">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Code</th>
                        <th>Employee Name</th>
                        <th>Department</th>
                        <th class="text-center">Month</th>
                        <th class="text-end">Amount (₹)</th>
                        <th style="width:200px">Remarks</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody id="tblBody"></tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/AirmaxPayRollJS/Transaction/employee_kharchi_list.js" asp-append-version="true"></script>
}
