<!DOCTYPE html>
<html lang="en">

<head>
    <!-- PAGE TITLE HERE -->
    <base href="~/" />
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="DexignLab">
    <meta name="robots" content="index, follow">


    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- Daterange picker -->
    <link href="vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="vendor/swiper/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <!-- Toastr -->
    <link rel="stylesheet" href="vendor/toastr/css/toastr.min.css">
    <link href="vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/select2/css/select2.min.css">
    <link href="vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="vendor/datatables/responsive/responsive.css" rel="stylesheet">
    <link href="vendor/datatables/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- STYLE CSS -->
    <link href="vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <link class="main-css" href="css/style.css" rel="stylesheet">
    <link href="~/css/common.css" rel="stylesheet" asp-append-version="true" />
    <!-- Daterange picker -->
    <link href="vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Clockpicker -->
    <link href="vendor/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
    <!-- asColorpicker -->
    <link href="vendor/jquery-ascolorpicker/css/ascolorpicker.min.css" rel="stylesheet">
    <!-- Material color picker -->
    <link href="vendor/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">

    <!-- Pick date -->
    <link rel="stylesheet" href="vendor/pickadate/themes/default.css">
    <link rel="stylesheet" href="vendor/pickadate/themes/default.date.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet">
</head>

<body>

    <!-- PRELOADER -->
    <div id="preloader">
        <div class="loading-wave">
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
        </div>
    </div>

    <div id="main-wrapper" class="show">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="javascript:void(0);" class="brand-logo d-flex align-items-center">

                <div class="brand-title">
                    <svg width="90" height="24" viewBox="0 0 90 24" xmlns="http://www.w3.org/2000/svg">
                        <text x="0"
                              y="18"
                              font-family="Segoe UI, Arial, sans-serif"
                              font-size="18"
                              font-weight="800"
                              letter-spacing="4"
                              fill="white">
                            AIRA
                        </text>
                    </svg>
                </div>

            </a>
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <ul class="navbar-nav header-left">

                                <li class="nav-item dropdown notification_dropdown">
                                    <button class="ic-theme-mode" type="button">
                                        <span class="light">Light</span>
                                        <span class="dark">Dark</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <ul class="navbar-nav header-right">
                            
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link dz-fullscreen " href="javascript:void(0);">
                                    <svg width="28" height="28" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_5_876)">
                                            <path d="M5.5 5.5L0.833334 0.833334M0.833334 0.833334L0.833334 5.5M0.833334 0.833334L5.5 0.833334" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M12.5 5.5L17.1667 0.833334M17.1667 0.833334L12.5 0.833334M17.1667 0.833334L17.1667 5.5" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M5.5 12.5L0.833334 17.1667M0.833334 17.1667L5.5 17.1667M0.833334 17.1667L0.833334 12.5" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M12.5 12.5L17.1667 17.1667M17.1667 17.1667L17.1667 12.5M17.1667 17.1667L12.5 17.1667" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_5_876">
                                                <rect width="18" height="18" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </a>
                            </li>

                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link d-flex align-items-center gap-2 px-3 py-2 rounded-pill bg-dark text-white"
                                   href="javascript:void(0);"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">

                                    <div class="avatar-circle bg-primary" id="userAvatar">
                                        F
                                    </div>

                                    <span id="lblLoginName" class="fs-14 fw-semibold">Franklin Jr.</span>

                                    <i class="fa fa-chevron-down fs-12 ms-1"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-end shadow-sm mt-2">
                                    <li>
                                        <a class="dropdown-item text-danger" href="javascript:void(0);" onclick="logoutUser()">
                                            <i class="fa fa-sign-out-alt me-2"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="ic-sidenav">
            <div class="ic-sidenav-scroll">
                <ul class="metismenu" id="menu">

                    <li id="menuTdrHodDashboard">
                        <a class="ai-icon" href="/Master/Index">
                            <i class="flaticon-home"></i>
                            <span class="nav-text">Dashboard</span>
                        </a>
                    </li>

                    <!-- MASTER (ADMIN ONLY) -->
                    <li class="menu-title">Master</li>

                    <li>
                        <a class="ai-icon" href="/Master/Company">
                            <i class="flaticon-business-and-trade"></i>
                            <span class="nav-text">Company</span>
                        </a>
                    </li>

                    <li>
                    <a class="ai-icon" href="/Master/Location">
                        <i class="flaticon-location"></i>
                        <span class="nav-text">Location</span>
                    </a>
                </li>
                    <li>
                    <a class="ai-icon" href="/Master/Department">
                            <i class="flaticon-grid"></i>
                            <span class="nav-text">Department</span>
                    </a>
                </li>
                    <li>
                    <a class="ai-icon" href="/Master/Designation">
                            <i class="flaticon-file"></i>
                            <span class="nav-text">Designation</span>
                    </a>
                </li>
                    <li>
                        <a class="ai-icon" href="/Master/Shift">
                            <i class="flaticon-send"></i>
                            <span class="nav-text">Shift</span>
                        </a>
                    </li>


                    <li>
                        <a class="ai-icon" href="/Master/User">
                            <i class="flaticon-user"></i>
                            <span class="nav-text">User</span>
                        </a>
                    </li>
                    <li>
                        <a class="ai-icon" href="/Master/Employee">
                            <i class="flaticon-behance"></i>
                            <span class="nav-text">Employee List</span>
                        </a>
                    </li>
                    <li>
                        <a class="ai-icon" href="/Master/EmployeeEntry">
                            <i class="flaticon-behance"></i>
                            <span class="nav-text">Employee Entry</span>
                        </a>
                    </li>
                    <li>
                        <a class="ai-icon" href="/Master/EmployeeGroup">
                            <i class="flaticon-shopping-cart"></i>
                            <span class="nav-text">EmployeeGroup</span>
                        </a>
                    </li>
                    <li>
                        <a class="ai-icon" href="/Master/employeegroupbonusdetails">
                            <i class="flaticon-app"></i>
                            <span class="nav-text">EmpGroupBonus</span>
                        </a>
                    </li>

                    <!-- MASTER (ADMIN ONLY) -->
                    <li class="menu-title">Transaction</li>

                    <li>
                        <a class="ai-icon" href="/Transaction/TransactionEmployeeKharchi">
                            <i class="flaticon-app"></i>
                            <span class="nav-text">EmployeeKharchi</span>
                        </a>
                    </li>

                </ul>

            </div>
        </div>

        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                @RenderBody()

            </div>
        </div>

    </div>


    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="vendor/global/global.min.js"></script>
    <script src="vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="vendor/select2/js/select2.full.min.js"></script>
    <!-- Apex Chart -->
    <script src="vendor/apexchart/apexchart.js"></script>
    <script src="vendor/chart-js/chart.bundle.min.js"></script>
    <!-- Chart piety plugin files -->
    <script src="vendor/peity/jquery.peity.min.js"></script>
    <!-- momment js is must -->
    <script src="vendor/moment/moment.min.js"></script>
    <script src="vendor/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="vendor/datatables/js/jquery.dataTables.min.js"></script>

    <script src="vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/js/dataTables.buttons.min.js"></script>
    <script src="vendor/datatables/js/buttons.html5.min.js"></script>
    <script src="vendor/datatables/js/jszip.min.js"></script>

    <script src="vendor/datatables/js/pdfmake.min.js"></script>
    <script src="vendor/datatables/js/vfs_fonts.js"></script>

    <script src="vendor/datatables/responsive/responsive.js"></script>
    <script src="js/plugins-init/datatables.init.js"></script>

    <!-- Toastr -->
    <script src="vendor/toastr/js/toastr.min.js"></script>
    <script src="vendor/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="vendor/dropzone/dist/dropzone.js"></script>
    <script src="vendor/ckeditor/ckeditor.js"></script>

    <!-- Daterangepicker -->
    <!-- momment js is must -->
    <script src="vendor/moment/moment.min.js"></script>
    <script src="vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- clockpicker -->
    <script src="vendor/clockpicker/js/bootstrap-clockpicker.min.js"></script>
    <!-- asColorPicker -->
    <script src="vendor/jquery-ascolor/jquery-ascolor.min.js"></script>
    <script src="vendor/jquery-asgradient/jquery-asgradient.min.js"></script>
    <script src="vendor/jquery-ascolorpicker/js/jquery-ascolorpicker.min.js"></script>
    <!-- Material color picker -->
    <script src="vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- pickdate -->
    <script src="vendor/pickadate/picker.js"></script>
    <script src="vendor/pickadate/picker.time.js"></script>
    <script src="vendor/pickadate/picker.date.js"></script>



    <!-- Daterangepicker -->
    <script src="js/plugins-init/bs-daterange-picker-init.js"></script>
    <!-- Clockpicker init -->
    <script src="js/plugins-init/clock-picker-init.js"></script>
    <!-- asColorPicker init -->
    <script src="js/plugins-init/jquery-ascolorpicker.init.js"></script>
    <!-- Material color picker init -->
    <script src="js/plugins-init/material-date-picker-init.js"></script>
    <!-- Pickdate -->
    <script src="js/plugins-init/pickadate-init.js"></script>
    <!-- All init script -->
    <script src="vendor/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="vendor/jqvmap/js/jquery.vmap.world.js"></script>
    <script src="vendor/jqvmap/js/jquery.vmap.usa.js"></script>
    <!-- Dashboard 1 -->
    <script src="js/dashboard/dashboard-1.js"></script>
    <script src="./vendor/swiper/js/swiper-bundle.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/ic-sidenav-init.js"></script>

    <script src="~/airmaxpayrolljs/common/auth-handler.js"></script>
    <script src="~/airmaxpayrolljs/common/common.js"></script>
    <script src="~/airmaxpayrolljs/common/common-upload.js"></script>
    <script src="~/airmaxpayrolljs/common/home.js" asp-append-version="true"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1.5,
            spaceBetween: 15,
            navigation: {
                nextEl: "",
                prevEl: "",
            },
            breakpoints: {
                360: {
                    slidesPerView: 1.5,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 2.5,
                    spaceBetween: 40,
                },
                1200: {
                    slidesPerView: 1.5,
                    spaceBetween: 20,
                },
            },
        });
        var swiper = new Swiper(".mySwiper1", {
            slidesPerView: 3.5,
            spaceBetween: 15,
            navigation: {
                nextEl: "",
                prevEl: "",
            },
            breakpoints: {
                360: {
                    slidesPerView: 1.5,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 3.5,
                    spaceBetween: 20,
                },
            },
        });
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>